@media screen and (max-width:700px) {
    .row .navbar {
        flex-direction: column;
    }    
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    background-color: currentColor;

}
.navbar a {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 14px 20px;
}
.navbar:hover{
    color:black;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
.side{
    flex: 30px;
    background-color: #f1f1f1;
    padding: 20px;  
}
.main{
    flex: 70%;
    background-color: white;
    padding: 20px;
}
.fakeimg{
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
.footer{
    background: #ddd;    
    padding: 20px;
    text-align: center;
}



